<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="eNetBanking">
    <listeners>
        <listener class-name="com.eNetBanking.utilites.Reporting"/>
    </listeners>

    <test name ="SauceLab Test">
        <parameter name="browser" value="chrome" />
        <classes>
          <class name ="com.eNetBanking.testCases.LoginScenario.TC_LoginTest_001" />
          <class name ="com.eNetBanking.testCases.LoginScenario.TC_LoginTest_002" />
           <class name ="com.eNetBanking.testCases.LoginScenario.TC_LoginTest_003" />
            <class name ="com.eNetBanking.testCases.LoginScenario.TC_LoginTest_004" />
        </classes>
    </test>

</suite>